.soft-length-limit-tooltip {
  display: inline-block;
  font-style: italic;
  z-index: 10;
}

.form-item div.soft-length-limit-tooltip.exceeded {
  color: #a44;
}

/* Min/Enhanced tooltip */
.field-type-text .form-item .soft-length-limit-tooltip.min-style-tooltip {
  background-color: transparent;
  background-image: url(ico_socpub_confirm.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  display: block;
  float: right;
  min-height: 15px;
  padding: 0 20px;
  text-align: right;
}
.field-type-text .form-item .soft-length-limit-tooltip.min-style-tooltip.exceeded.under-min {
  background-image: none;
}
.field-type-text .form-item .soft-length-limit-tooltip.min-style-tooltip.exceeded {
  background-image: url(ico_socpub_alert.png);
}
