.soft-length-limit-tooltip {
  font-style: italic;
  display: none;
  position: absolute;
  display: inline-block;
  z-index: 10;
}

.form-item div.soft-length-limit-tooltip.exceeded {
  color: #a44;
}
